span.openhook {
	font-size: 11px;
	font-family: Arial;
	margin: 5px;
	padding: 2px 10px;
	background: red;
	color: white;
	clear: both;
	text-decoration: none;
	border: 1px solid white;
	filter: alpha(opacity=60);
	-moz-opacity: 0.4;
	-khtml-opacity: 0.4;
	opacity: 0.4;
}

span:hover.openhook {
	background: gray;
	text-decoration: none;
	z-index: 100;
	filter: alpha(opacity=100);
	-moz-opacity: 1.0;
	-khtml-opacity: 1.0;
	opacity: 1.0;
}